name: Backend CI/CD - .NET 8 Docker VPS

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    environment: tenantproject-api-secrets 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            faizrahmadani/tenantproject:latest
            faizrahmadani/tenantproject:${{ github.sha }}

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            docker pull faizrahmadani/tenantproject:latest

            docker stop tenantproject-api || true
            docker rm tenantproject-api || true

            docker run -d \
              --name tenantproject-api \
              -p 5003:8080 \
              -e "ConnectionStrings__MainConnectionString=${{ secrets.DB_CONNECTION_STRING }}" \
              -e "Jwt__Key=${{ secrets.JWT_KEY }}" \
              -e "Jwt__Issuer=${{ secrets.JWT_ISSUER }}" \
              -e "AllowedOrigins__0=${{ secrets.ALLOWED_ORIGIN }}" \
              -e "ASPNETCORE_ENVIRONMENT=Production" \
              --restart unless-stopped \
              faizrahmadani/tenantproject:latest